data/raw/
data/processed/*
!data/processed/profiles_demo/
models/*
!models/*.json
!models/*.pkl
models_v2/*
!models_v2/*.json
!models_v2/*.pkl
venv/
*.parquet
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.DS_Store
*.egg-info/
dist/
build/
